@import "./tokens.css";
@import "./fonts.css";
@import "./base.css";
@import "./header.css";
@import "./hero.css";
@import "./burger.css";
@import "./favorite.css";
@import "./about.css";
@import "./apps.css";
@import "./cta.css";
@import "./cart.css";
@import "./register.css";
@import "./signin.css";

html {
  scroll-behavior: smooth;
}

.section,
.favorite,
.about,
.apps,
.promo,
.site-footer {
  scroll-margin-top: 80px;
}

@media (max-width: 768px) {
  .section,
  .favorite,
  .about,
  .apps,
  .promo,
  .site-footer {
    scroll-margin-top: 64px;
  }
}
